<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

    </style>
  </head>
  <body>

<header>
{% include 'includes/inc_menu_top.html' %}
</header>

<main>
  <section class="py-3 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="my-0 mr-md-auto font-weight-normal">Skystore</h1>
        <p class="lead py-3">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
      </div>
    </div>
  </section>
{% block content %}
{% endblock %}


</main>
<div class="container">
{% include 'includes/inc_menu_bottom.html' %}
</div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
