{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Список продуктов в категории{% endblock %}

{% block content %}
<h1 class="display-4 text-center">{{ category.name }}
<a href="{% url 'catalog:categories' %}" class="btn btn-outline-secondary"> <<< К списку категорий</a>
</h1>
<<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for prod in products %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ prod.image | media_filter }}" class="img-thumbnail div-fixed-size">
          <div class="card-body">
            <p class="card-text text-center">{{ prod.name }}</p>
            <p class="card-text text-center">{{ prod.description|truncatechars:100 }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group text-center">
                <a class="btn btn-primary" href="{% url 'catalog:product_detail' prod.pk %}"
                   role="button">Посмотреть</a>
                {% if user.is_authenticated %}
                {% if perms.catalog.can_unpublish_product or user == prod.owner %}
                <a class="btn btn-primary" href="{% url 'catalog:product_update' prod.pk %}"
                   role="button">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'catalog:product_delete' prod.pk %}"
                   role="button">Удалить</a>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}